header {
    position: fixed;
    top: 0;
    min-height: 50px;
    padding: 10px 20px 10px 20px;
    width: 100%;
  }

  #header-img{
    width: 30vw;
    max-width: 100px;
    justify-content:flex-start;
  }

.grid{
    display: flex;
}

#nav-bar {
    overflow: hidden;
    margin-top: auto;
    text-align: center;
  }

  #header-div{
    display: flex;
    justify-content: flex-start;
    padding: 10px 50px 10px 50px;
  }
  
  /* Navbar links */
  #nav-bar a {
    float:left;
    display: block;
    color: black;
    text-align: end;
    padding: 15px 15px 5px 15px;
    text-decoration: underline;
  }



#product-info{
    display: flex;
    justify-content: left;
    padding: 50px;
}

#first-article{
    background-color: black;
    height: 500px;
}